html {
    margin: 0px 20px 0px 40px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid {
    justify-content: center;
    align-items: center;
}

.company-logo {
    margin-top: 2%;
}

.yellow-label {
    background-color: rgb(233, 192, 57);
    margin-bottom: -20px;
    margin-left: -3px;
}

.upper-row {
    margin-top: -5%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: 200px;
}

.upper-row > button {
    background-color: rgb(233, 192, 57);
    margin: 0 2%;
    padding: -2px;
    font-size: 60%;
}

.upper-row :nth-child(2){
    padding: -10px 20px;
    text-wrap: nowrap;
}

.upper-row :nth-child(odd){
    padding: 5px 10px;
    text-wrap: nowrap;
}

.lower-row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 220px;

}

.navbar-link {
    color: black;
    text-decoration: none;
    font-size: 15px;
    /* overflow: hidden; */
    padding: 0 15px;
    margin-top: -20px;
    margin-right: 10px;
    text-wrap: nowrap;
    cursor: pointer;
    position: relative;
}

.navbar-link:hover {
    color: rgb(233, 192, 57);
    text-decoration: underline;
}

.navbar-link:hover + .additional-info {
    display: block;
  }

/* hover effect using javascript with navbar  */
.additional-info {
    display: none;
    background-color: rgb(251, 246, 230);
    /* margin: 10px 0 0 0 ; */
    padding: 10px; 
    position: absolute;
}

.sidebar {
    margin-left: -50px;
    top: 35%;
    font-size: x-large;
    color: grey;
    position: fixed;
    z-index: 9;
}

.leftside-fix-links > li{
    list-style-type: none;
} 

.pic-est {
    position: relative;
}

.pics-rotation {
    width: 80%;
    height: 250px;
    margin: 30px 0px 0px 110px;
    z-index: 2;
}


.first-img > img {
    width: 750px;
    height: 380px;
    object-fit: cover;
}

.get-estimate {
    margin: 90px 0 50px 120px;
    font-size: 10px;
    display: inline-block;
    z-index: 2;
    position: absolute;
}

.bg-estimate {
    background-color: rgb(61, 61, 61);
    padding: 38px 30px 38px 38px;
    height: 90px;
    margin-left: 95px;
    width: 550px;
    border-radius: 10px;
}

.calender {
    background-color: transparent;
    width: 120px;
    border: none;
    color: white;
    padding: 10px 20px 10px 10px;
    font-size: 12px;
    border-bottom: 2px solid rgb(129, 129, 129);
    outline: none;
}

.bg-estimate > input {
    width: 300px;
    font-size: 14px;
    margin-top: -20px;
    text-align: start;
    justify-content: start;
}

.bg-estimate > button {
    margin: -20px 19px 20px 60px;
}

.estimation-btn {
    border: none;
    background-color: rgb(233, 192, 57);
    padding: 8px 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    border-radius: 8px;
}

 /* google review */
.google-review {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-left: 15%;
    margin-bottom: 50px;
}

.fixed-icon {
    flex: 1;
}

.fixed-icon > img {
    height: 200px; 
    width: 200px;
    margin: 0 0 0 -20px;
}

/* info */

.moving-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    margin-top: 30%;
    margin-left: 50px;
}

.left-side-info > p {
    line-height: 20px;
    font-size: 12px;
    width: 320px;
    margin: 20px 0 0 50px;
}

.right-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    /* height: 490px; */
    width: 380px;
}

.right-2-col > div > .info-para {
    font-size: 10px;
    line-height: 12px;
}

.right-2-col > div {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(180, 180, 180);
}

.top-left > .more-info {
    margin-top: 44px;
}
.bottom-left > .more-info {
    margin: 60px 0 0 0;
}

.bottom-right > .more-info{
    margin: 60px 0 0 0;
}

.more-info {
    margin: 30px 0 -10px 0;
    font-size: 12px;
    font-weight: 700;
    color: rgb(233, 192, 57);
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid rgb(233, 192, 57);
    width: 80px;
    cursor: pointer;
}

.right-2-col > div:hover {
    box-shadow: 2px 2px 6px rgb(233, 192, 57);
}

.inbetween-title {
    margin: 80px 0 10px 300px;
}

.bg-img-text:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.3);
    z-index: 98;
}

.bg-img-text {
    background-image: url('city_of_vancouver_cover.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 420px;
    width: 106%;
    z-index: 99;
    margin: 40px -40px 40px -40px;
    color: white;
    position: relative;
}

.second-layer {
    background-color: rgba(41, 33, 5, 0.6);
    width: 100.2%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    opacity: 0.8;
    position: relative;  
    align-items: center;  
    z-index: 100;
}

.second-layer > div {
    padding: 34px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 101;
}

.second-layer > .col-second {
    background: rgba(45, 42, 34, 0.8);
}

.heading-bg-text {
    font-weight: 900;
}

.info-data {
    line-height: 15px;
    font-size: 12px;
}

.col-first > .first-para {
    margin: 0 50px 50px 50px;
}

.col-second > .first-para {
    margin: 0 50px 50px 50px;
}

.col-third > .first-para {
    margin: 0 50px 50px 50px;
}

.first-para {
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.img > .first-para img{
    max-height: 40px;
    max-width: 40px;
    margin: 0px -40px;
}

.more-data {

}

/* google review  */

.google-review{
    margin-top: 120px;
}

.fixed-icon > img{
    margin: 10px 40px 20px -50px;
}

.reviews {
    flex: 2;
    height: 300px;
    margin: -40px 30px -20px 0px;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    font-size: 12px;
}

.top-div > .second, .third, .forth, .fifth {
    margin-top: 40px;
}

.top-div > h5,p {
    line-height: 3px;
}

.stars {
    color: gold;
}

.middle-div > p,button {
    display: inline-block;
}

.days-older, .btn-new {
    margin-left: 5px;
}

.btn-new {
    font-size: 8px;
    color: #000;
    background-color: white;
    border: 1px solid black;
}

.like {
    margin-top: 10px;
    color: rgb(29, 106, 238)
}

.like > p > i {
    font-size: 20px;
    margin-right: 5px;
}

/* faq  */
.faq {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 90px 0 40px 50px;
    background-color: lightblue;
}

.questions {
    background-color: lightcoral;
    /* margin: 0 0 0 -260px; */
}


.faq-heading {
    display: inline-flex;
    justify-content: left;
    align-items: start;
    /* margin: 10px 0px 10px -60px; */
    padding: 5px 60px;
}

.h3-faq{
    margin: 10px 0 10px -50px;
}

.a-faq {
    font-size: 12px;
    margin: 18px 0px 0px 290px;
    text-decoration: none;
    color: rgb(233, 192, 57);
    border-bottom: 1px solid rgb(233, 192, 57);
    font-weight: 600;
}

.a-faq > img {
    margin: 0 0 0 10px;
}

.questions > .ques {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0 0 10px;
    width: 430px;
    border: none;
    box-shadow: 1px 1px 5px rgba(143, 115, 21, 0.4),
                inset 1px 1px 2px rgba(55, 55, 55, 0.4);
    padding: 8px 1px 3px 15px; 
}

.ques > h6 {
    font-weight: 500;
    color: rgb(67, 66, 60);
}

.speed-meter > div {
    display: flex;
    text-align: center;
    justify-content: center;
}

.speed {
    padding: 0 20px;
}

.speed > img{
    border: 1px solid black;
    border-radius: 50%; 
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

.speed > h5, p {
    display: block; 
    padding: 10px;
}

.speed > h5 {
    color: rgb(67, 66, 60);
}

.speed > p {
    font-size: 11px;
    text-wrap: nowrap;
    margin: 30px 0 -25px -40px;
}

.sec-one {
    margin: 0 20px 0 -10px;
    padding: 0 10px 0 -10px;
}
